/**MAX 450px**/

@media screen and (max-width: 450px) {

.header {
    padding: 5px;
  }

.logo {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}

/**MAX 660px**/

@media screen and (max-width: 660px) {

.headerdescription {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
}

/*between 451 and 647px*/

@media screen and (min-width: 451px) and (max-width: 647px) {

.header {
    padding: 10px 20px;
  }

.logo {
    width: 100%;
    display: block;
    margin: auto;
  }
}

/*MIN 648px*/

@media screen and (min-width: 648px) {

h1, h3 {
    text-align: right;
  }

.header {
    justify-content: space-between;
    padding: 10px 0px;
  }
}

/**MIN 800PX**/

@media screen and (min-width: 800px) {

.container {
  width: 800px;
  margin: 0 auto;
  }
}
