/*General settings -- Changements de base sur toute la page*/

a {
  text-decoration: none; /*no underline on the links - pas de soulignement sur les liens*/
  color: white;
}

body {
  background-color: lightgrey; /*background color - couleur de fond du site*/
  }

p {
  font-family: 'Lato', sans-serif;
}

/*copyright*/

footer {
  display: block;
  margin: 0 auto;
  max-width: 810px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  border-top: 1px solid darkgrey;
}

.piccopyright {
  margin-top: 1px;
}

.copyright {
  margin-bottom: 0;
}

.linkcopyright {
  color: black;
  text-shadow: 0px 0px 1px black;
}

/**Pictures**/

/*logo picture*/

.logopic {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50px;
}

/*Main picture*/

.mainpic {
  max-width: 100%;
}

/*Project pictures*/

.projectpic {
  max-width: 100%;
}

/**Titles**/

/*name in the header*/

h1 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 3px grey;
  font: 300 50px 'Lato', sans-serif;
  color: grey;
  padding-bottom: 10px;
  margin: 0;
}

/*featured work*/

h2 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 3px grey;
  font: 300 30px 'Lato', sans-serif;
  color: grey;
}

/*programmer wannabe line in the header*/

h3 {
  text-align: center;
  text-transform: uppercase;
  font: 300 20px 'Lato', sans-serif;
  color: grey;
  margin: 0;
}

/*project title*/

h4 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 3px white;
  font: 300 20px 'Lato', sans-serif;
  margin: 5px 0;
}

/**Header**/

.header {
  display: flex;
  flex-wrap: wrap;
  margin: auto auto 13px auto;
  border-bottom: 2px dotted;
}

.logo {
  max-width: 100px;
  max-height: 100px;
}

/**Featured work line**/

.featuredwork {
  width: 100%;
}

/**Projects**/

.row {
  display: flex;
  flex-wrap: wrap;
}

.projectdescription {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 20px 10px;
}

.textcontainer {
  max-width: 250px;
  text-align: center;
  margin: 0 auto;
}

.project {
  background-color: grey;
  max-width: 250px;
  margin: 0 auto 20px;
}
